extends layout

block layout-content
    article.text-center.mb-5
        button(class="btn btn-primary m-2 redirectSite" data-to="#" disabled=true) Wyświetl konta allegro
        button(class="btn btn-primary m-2 redirectSite" data-to="orders") Wyświetl zamówienia allegro
        button(class="btn btn-primary m-2 redirectSite" data-to="offers") Wyświetl oferty allegro